/* Background pattern from <a href="https://www.toptal.com/designers/subtlepatterns">Toptal Subtle Patterns</a> */
* {
    /* font-weight: bold; */
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0px;
}
#header #name{
    color: #E91E63;
}

#header {
    padding: 20px;
    background-image: url("../images/dot-grid.png");
}
.det{
    font-size: 14px;
    font-weight: bold;
}
#body {
    margin-top: 30px;
}

.text-cen {
    text-align: center;
}

#notButton {
    margin-top: 20px;
}

#notButton button {
    background-color: white;
    border: none;
    border: 1px solid gray;
    padding: 3px;
    border-radius: 3px;
}
#navbar{
    width: 360px;
    margin: auto;
}
#navbar ul li{
    /**border-bottom:2px solid #E91E63;**/
    list-style: none;
    float: left;
}
#navbar ul .margin-some{
    margin-left: 25px;
}
#image img{
    width: 150px;
    height: 150px;
    border-radius:77px;
}
#details{
    clear: both;
    padding: 10px;
    width:50%;
    margin: auto;
    /*text-align: center;*/
}
.det-boxes{
    /*border: 1px solid gray;*/
    padding: 10px;
}
#details a{
    text-decoration: none;
    color: black;

}
.dis-block{
    display: block;
}
.dis-none{
    display: none;
}
.link-nodec{
    text-decoration: none;
    color: inherit;
}
@media(max-width:1000px){
    #details{
        width: 70%;
    }
}
@media(max-width:800px){
    #details{
        width: 90%;
    }
}
.bor-bot{
    border-bottom: 1px solid #E91E63;
}
.leftal{
    text-align: left !important;
}
.topicdet{
    font-weight: normal;
    padding:5px;
    font-size: 15px;
}
.cards{
    border: 1px solid #e91e6352;
    margin-top: 10px;
    border-radius: 5px;
}
.cardheader{
    background-image: url(../images/full-bloom.png);
    background-color: #E91E63;
    padding:10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
hr{
    height: 1px;
    border: none;
    background-color: white;
    width:80px;
}
.first{
    margin-left: 0px;
}
#footer{
    padding:40px;
    background-image: url("../images/regal.png");
}
.bold{
    font-weight: bold;
}
/* .topicdet a{
    color: #E91E63 !important;
} */
.social-logo{
    width: 32px;
    height: 32px;
    margin-bottom: -10px;

}
#profiles .cardheader{
    text-align: center;
}
@media(max-width: 585px){
    #ytiframe{
        width: 400px;
    }
}
@media(max-width: 435px){
    #ytiframe{
        width: 300px;
    }
}
@media(max-width:375px){
    #navbar ul li{
        float: none;
    }
    #navbar ul .margin-some{
        margin-left: 0px;
    }
    #navbar{
        width: auto;
    }
    .nav-m-top{
        margin-top: 10px;
    }
}
.mail-link{
    text-decoration: none;
    color: black;
}
.postdiv{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.postdiv p{
    text-align: left;
}